.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.titleForm {
  margin-bottom: 5px;
}

.inputForm {
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 350px;
  flex-grow: 1;
  padding: 10px;
}
.inputForm ::placeholder {
  color: #999;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #0069d9;
}

button:active {
  background-color: #0056b3;
}

.icon {
  color: #007bff;
  height: 41px;
  margin-right: 10px;
  vertical-align: middle;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.label .icon {
  margin-right: 10px;
}
